.gameboard {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	gap: 7px;
	margin: 20px auto;
	width: auto;
	height: auto;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	background-color: #9ce9f8;
	border: 2px solid #83c3d2;
	cursor: pointer;
	user-select: none;
	font-size: 100px;
	color: #225863;
}

.cell:hover {
	background-color: #6ab9c9;
}

.cross {
	color: #225863;
}

.zero{
	color: #46bdd2;
}
