.app {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.restart {
	background-color: #4a91c0;
	color: #ffff;
	font-size: 20px;
	border: none;
	padding: 12px;
	border-radius: 20px;
}

.restart:hover {
	background-color: #366585;
}
